html, body {
  margin: 0px;
  background-color: #2F4F30;
  color: white;
  font-weight: bold;
}


.titulo {
  font-family: 'Rampart One', cursive;
  text-align: center;
  background-color: #333;
  padding: 20px;
  font-size: 33px;
  font-weight: normal;
}

.carta {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#computadora-cartas, #jugador-cartas {
  height: 240px;
}
#mensaje, #mensaje2 {
  margin: 15px 0px;
  font-size: 17px;
  text-align: center;
}